{% extends 'Base.html' %}

{% block content %}
<center>
  <h2>
    Listado de puntadas
  </h2>
</center>
  <div class="col-lg-12">
    <table class="table">
      <thead>
        <th>No.</th>
        <th>Empleado</th>
        <th>Total puntadas</th>
        <th>Total de pago</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        {% for variable in variable %}
          <tr>
            <td>{{variable}}</td>
            <!-- <td>{{empleado.nombre}}</td> -->
            <td>{{variable}}</td>
            <td>{{variable}}</td>
            <td>
              <button class="btn btn-danger">
                Eliminar
              </button>
              <button class="btn btn-success">
                Editar
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
